
.md-button{
    padding: 10px 10px 10px 10px;
    margin: 0 0 7px 0;
    min-width: 1px;
    color: white;
    min-height: 1px;
    line-height: normal;


}
.vehicleBackgroundColor{
    background-color: rgba(241, 242, 242, 1);
}
 .firstRow{
     background-color: white;
 }
 .editDeleteButtons{
     background-color: rgba(41, 74, 103, 1);
     padding: 5px 5px 5px 5px;
 }
 .emptyRow{
     color: rgba(241, 242, 242, 1);
     background-color: rgba(241, 242, 242, 1);
 }

.flex-offset-10, .offset-10 {
    margin-left: 10%;
    margin-right: 5%;
}
.newTypeButton{
    padding: 10px 10px 10px 10px;
    min-width: 1px;
    color: white;
    min-height: 1px;
    line-height: normal;
    margin: 0 5% 7px 0;
    background-color: rgba(141, 189, 92, 1);
}