<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <meta charset="UTF-8">
    <title>Vehicle Types</title>

    <script type="text/javascript" src="vehicleTypes.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
    <link rel="stylesheet" href="vehicleTypes.css">
</head>
<body>

<div ng-app="vehicleTypes" ng-controller="vehicleTypesCtrl" ng-cloak="">
    <h2 flex-offset="10">Vehicle types</h2><br>


    <div layout="row" layout-align="end center"><md-button class="newTypeButton" ng-click="newType()" >NEW TYPE</md-button></div>

<div flex-offset="10" layout="row" class = "emptyRow">.</div> <!-- Sorry for my dump solution :( -->

   <div flex-offset="10" layout="row" class="firstRow" layout-padding>
       <div flex="50"><b>Vehicle types</b> </div>
       <div flex="15"><b>Basic fare</b> </div>
       <div flex><b>Fare/km</b></div><br><br>
   </div>

<div ng-repeat="data in GETdata.vehicleTypes">
    <div flex-offset="10"  layout="row" class = "vehicleBackgroundColor" layout-padding>
        <div flex="50">{{data.name}}</div>
        <div flex="15"><input size="4" ng-model="data.price_base">€</div>
        <div><input size="4" ng-model="data.price_km">/km</div>
        <div flex="5"><md-button class="md-button, editDeleteButtons" ng-click="edit(data.id,data.price_base,data.price_km)">EDIT</md-button></div>
        <div><md-button class="md-button, editDeleteButtons" ng-click="delete(data.id)">DELETE</md-button></div>
    </div>
    <div flex-offset="10"><md-divider></md-divider></div>
</div>


</div>
</body>
</html>